.footer{
    background: rgb(32, 35, 41);
    color: rgb(158, 158, 158);
    min-height: 120px;
    padding: 100px 0;
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;
            font-size: 14px;
            font-weight: 500;
            a{
                color: rgb(158, 158, 158);
            }
        }
        &.social{
            margin-top: 25px;
            li{
                font-size: 20px;
            }
        }
    }
}